# Business Data Science | Fall 2019
## Problem Set 5
### Rutwick Bhawsar | Shivang Arya

In [130]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

### Problem 1. Question 1

In [59]:
df=pd.read_csv("NYC_stop_and_frisk.dat",sep=" ")
df = df.iloc[4:,1:-4].copy()
df.reset_index(drop=True,inplace=True)
df.rename(columns={'and': 'Total Population', 'frisk': 'Stopped Population','data' : 'Precinct', '(with' : "Ethnicity", 'noise' : 'Crime'}, inplace=True)

In [60]:
df.head(20)

   Total Population Stopped Population Precinct Ethnicity Crime
0              1720                191        1         1     1
1              1720                 57        1         1     2
2              1720                599        1         1     3
3              1720                133        1         1     4
4              1368                 62        1         2     1
5              1368                 27        1         2     2
6              1368                149        1         2     3
7              1368                 57        1         2     4
8             23854                135        1         3     1
9             23854                 16        1         3     2
10            23854                107        1         3     3
11            23854                123        1         3     4
12             2596                227        2         1     1
13             2596                 56        2         1     2
14             2596                246        2         1     3
15             2596                224        2         1     4
16             6844                153        2         2     1
17             6844                 64        2         2     2
18             6844                 78        2         2     3
19             6844                262        2         2     4

### Problem 1. Question 2.

In [102]:
# Converting the DataFrame to Numeric. It was originaly stored in String.
df = df.apply(pd.to_numeric)

#Getting Total Population among the 75 precincts.
totalpop = df.iloc[:,0].sum()

#Getting Ethnic Population among the 75 precincts.
totalblack = df.loc[df['Ethnicity']==1].sum()[0]
totalhispanic = df.loc[df['Ethnicity']==2].sum()[0]
totalwhite = df.loc[df['Ethnicity']==3].sum()[0]

#Getting the fractions
fractionpopblack = (totalblack/totalpop)*100
fractionpopwhite = (totalwhite/totalpop)*100
fractionpophispanic = (totalhispanic/totalpop)*100

print()
print("Fraction of Black Population corresponding to Total Population:", fractionpopblack)
print("Fraction of Hispanic Population corresponding to Total Population:", fractionpophispanic)
print("Fraction of White Population corresponding to Total Population:", fractionpopwhite)

#Getting total stops.
totalstops = df.iloc[:,1].sum()

#Getting total stop as per ethnicity.
stopsblack = df.loc[df['Ethnicity']==1].sum()[1]
stopshispanic = df.loc[df['Ethnicity']==2].sum()[1]
stopswhite = df.loc[df['Ethnicity']==3].sum()[1]

#Getting the fractions.
fractionstopsblack = (stopsblack/totalstops)*100
fractionstopswhite = (stopswhite/totalstops)*100
fractionstopshispanic = (stopshispanic/totalstops)*100

print("\nFraction of Black Stops corresponding to Total Stops:", fractionstopsblack)
print("Fraction of Hispanic Stops corresponding to Total Stops:", fractionstopshispanic)
print("Fraction of White Stops corresponding to Total Stops:", fractionstopswhite)
print()

Fraction of Black Population corresponding to Total Population: 27.546911368656584
Fraction of Hispanic Population corresponding to Total Population: 25.574140350701068
Fraction of White Population corresponding to Total Population: 46.87894828064235

Fraction of Black Stops corresponding to Total Stops: 53.14937494451232
Fraction of Hispanic Stops corresponding to Total Stops: 31.66412304102072
Fraction of White Stops corresponding to Total Stops: 15.18650201446696

## Problem 2.

In [115]:
df2=pd.read_csv("nba_cc_fake_data.csv",index_col=0)
df2.head()

   Comp  Height  Points  Salary
0   9.0    76.0    27.0     0.0
1   7.0    78.0    39.0     0.0
2   9.0    76.0    39.0     0.0
3   9.0    74.0    39.0     0.0
4   9.0    74.0    26.0     0.0

### Problem 2. Task 1

Explaination:

### Problem 2. Task 2

In [117]:
#Dividing the Data into training and testing
X = df2.iloc[:,0:3]
y = df2.iloc[:,3]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Running Linear Regression on it.
reg = LinearRegression().fit(X, y)

#Predicting for testing data.
y_pred = reg.predict(X_test)

In [131]:
#Seeing how well our model performed. 
r2_score(y_test.values, y_pred)

0.19176262013019696